
.navbar {
  z-index: 1001;
  position:fixed;
  top: 0px;
  height:50px;
  width:100%;
  padding: 4px 16px;
  
  background-color: rgb(42, 64, 70);
  color: #fff;

  display: grid;
  grid-template-columns: 50px calc(100vw - 250px) repeat(4, 25px);
  grid-gap: 10px;

  .navElement{
    //height:42px;
  }
  .logo{
    text-align:left;
    padding-left: 5px;
  }

  .search{

    .searchForm{
      width:90%;
      border-radius: 5px;
      margin: 4px auto;
      background-color: rgba(255, 255, 255, 1.0);


      display: grid;
      grid-template-columns:  calc(100% - 30px) 30px;

      .input-field{
        margin-top:0px;
        
        input {
          height:30px;
          margin-bottom:4px;
          color:black;
        }
      }
    }
  }

  .menu{
    vertical-align: middle;
    height:100%;

    i{
      margin-top:8px;
    }

    .selected{
      background-color: rgb(87, 123, 133);
      color: blanchedalmond;
    }
  }
}

