
.navbar {
  z-index: 1001;
  position:fixed;
  top: 0px;
  height:50px;
  width:100%;
  padding: 4px 16px;
  
  background-color: rgb(42, 64, 70);
  color: #fff;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;

  .navElement{
    font-size: 25px;
    height:42px;
    text-align:center;
  }
  .logo{
    text-align:left;
    padding-left: 5px;
  }

  .search{
    grid-column: span 6;

    .input-field{
      margin-top: 0px;
      bottom:5px;

      #search{
        margin-bottom:0px;
      }
    }
  }

  .menu{

    a{
      display: block;
      width:100%;
      height:100%;
    }

    .selected{
      background-color: rgb(87, 123, 133);
      color: blanchedalmond;
    }
  }
}

